 {% extends 'base.html' %}
 {% block content %}

<div class="container">

    <div class="page-header" id="banner">
        <div class="row">
            <div class="col-lg-8 col-md-7 col-sm-6">
                <h1>Recognizing Numbers</h1>
                <p class="lead">Using Convolutional Neural Networks</p>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h2>1. Train</h2>
        </div>
        <div class="col-lg-12">
            <p>Before being able to recognize any handwritten number, the neural network need first to be trained.
                This is done by supervised learning where we give the neural network an image and then compare what he
                thought it was with the solution. Then the error will be back propagated to change tha valus of each
                neurons. A dataset of 40000 images will be used to train this network. This database comes from the NIST.
            </p>
            <p>To begin the training click the button underneath. A graph will show the training of the network in real time.</p>
            <br/><br/>
            <div align="center">
                <button ng-click="train()" class="btn btn-primary">Start training</button>
            </div>
            <!--{[{ response }]}-->
            <canvas id="line" class="chart chart-line" chart-data="data"
              chart-labels="labels" chart-legend="true" chart-series="series"
              chart-click="onClick" >
            </canvas>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-7">
            <h2>2. Test</h2>
        </div>
        <div class="col-lg-5">
            <h2>Results</h2>
        </div>
        <div class="col-lg-3">
            <div align="center">
                <canvas id="n-canvas" drawing width="280" height="280" class="n-canvas"></canvas><br/>
                <button ng-click="clear()" class="btn">Clear</button>
                <button ng-click="test()" class="btn btn-primary">Recognize</button>
            </div>
        </div>
        <div class="col-lg-5 col-lg-offset-4">
            <p>Hello</p>
        </div>
    </div>


    <footer>
        <div class="row">
            <div class="col-lg-12">

                <p>Made by Nazar Filipchuk, Benjamin Akboka, Charles Hamesse</p>

            </div>
        </div>

    </footer>

</div>
{% endblock %}